.btnAdd {
	display: flex;
	justify-content: flex-end;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	background-color: var(--green500);
	border-radius: 12px;
	color: var(--white);
	transition: all 150ms ease;
	cursor: pointer;
	border: none;
	letter-spacing: 0.09em;
	margin-right: 40px;
	padding: 12px 2em;
}
.btnAdd:hover {
	background-color: var(--green600);
}
.btnAdd:active {
	background-color: var(--green700);
}
.btnCompleted {
  color: var(--darkBlue);
  font-size: 3em;
  float: right;
  margin: 20px 30px 20px 0px;
}
.btnSortAlpha {
	font-size: 2.5em;
	color: var(--green600);
	margin-right: 20px;
}
.btnSortTime{
	font-size: 2.5em;
	color: var(--green600);
	margin-right: 20px;
}
.btnVolume {
  font-size: 2.5em;
  color: var(--grey);
	vertical-align: text-bottom;
	color: var(--green600);
	margin-right: 10px;
}
.buttonGroup {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.buttonsLeft {
	display: flex;
	justify-content: flex-start;
	margin-left: 40px;
}
.form {
  align-items: center;
	width: 100%;
	margin: 0 20px;
}
.header {
 font-family: 'Bungee Inline', cursive;
 color: var(--darkBlue);
 text-align: center;
 font-size:4em;
 margin: 80px 0 30px 40px;
 white-space: nowrap;
 padding-bottom: 10px;
}

/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
 	.header {
    margin-left: 60px;
		font-size: 4em;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
	.btnAdd {
		font-size: 1em;
	}
	.btnVolume {
		font-size: 2em;;
	}
  .header {
    margin-left: 40px;
		font-size: 3em;
  }
}
