:root {
  --fontColor: var(--darkBlue);
  --containerColor: var(--transparency9);
}
/* DARK THEME */
:root[data-theme="dark"] {
  --fontColor: #fff;
  --containerColor: var(--transparency2);
}

.btnBack {
  color: var(--grey2);
  font-size: 2em;
  position: absolute;
  top: 0px; 
  margin: 3em 0 0 20px;
}
.completedTodoContainer {
  width: 90vw;
  height: fit-content;
  max-width: 600px;
  min-height: 700px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
.header {
  font-family: 'Bungee Inline', cursive;
  color: var(--fontColor);
  text-align: center;
  font-size:4em;
  padding: 0;
  margin: 80px 0px 40px 15px;
  width: 95%;
  line-height: 1em;
}
.noneCompleted {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
  color: var(--fontColor);
}
.orderedList {
  counter-reset:item;
  line-height: 2.25em;
  font-size: 2em;
  color: var(--fontColor);
  width: 90%;
  margin-left: 70px;
}
.orderedList > li {
  padding:0;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
.orderedList > li:before {
  display:inline-block;
  width:0.5em;
  padding-right:0.5em;
  font-weight:bold;
  font-size: 2em ;
  color: var(--fontColor);
  text-align:right;
  content:counter(item) ".";
}
/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
 	.header {
		font-size: 4.5em;
    padding: 0 0 0 20px;
  }
  .orderedList {
    font-size: 1.5em;
    max-width: 500px;
    padding: 0 0 15px 0;
    margin: 0;
    width: 80%;
  }
  .orderedList > li {
    margin-left: 100px;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
  .header {
		font-size: 3em;
    line-height: 1em;
    margin-top: 80px;
    padding-left: 10px;
  }
  .orderedList {
    font-size: 1em;
    line-height: 1.75em;
    margin: 0;
    width: 80%;
  }
  .orderedList > li {
    margin-left: 20px;
  }
}