.btnBack {
  color: var(--grey2);
  font-size: 2em;
  position: absolute;
  top: 0px; 
  margin: 3em 0 0 30px;
}
.completedTodoContainer {
  background-color: var(--transparency2);
  width: 100%;
  max-width: 700px;
  height: 100vh;
}
.header {
  font-family: 'Bungee Inline', cursive;
  color: var(--darkBlue);
  text-align: center;
  font-size:4em;
  padding: 0;
  margin: 80px 20px 40px 20px;
  width: 95%;
  line-height: 1em;;
}
.noneCompleted {
  text-align: center;
  margin-top: 50px;
}
.orderedList {
  counter-reset:item;
  line-height: 2.25em;
  font-size: 1.5em;
  width: 95%;
  margin: 0 20px;
}
.orderedList > li {
  margin:0;
  padding:0;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
.orderedList > li:before {
  display:inline-block;
  width:2em;
  padding-right:0.5em;
  font-weight:bold;
  font-size: 1.5em ;
  color: #10465b;
  text-align:right;
  content:counter(item) ".";
}
