.checkboxCompleted[type="checkbox"] {
  opacity: 0;
}
.checkboxComplete[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}
.checkboxCompleted[type="checkbox"]:checked + label::after {
  content: "\2713";
  display: inline-block;
  font-size: 18px;
  margin-left: 2px;
}
.textArea{
  background-color: var(--transparency9);
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  border: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: 4px double var(--darkBlue);
  padding: 10px;
}
.textArea:hover {
  border-color: var(--green500);
}
.textArea:focus {
  outline: 2px solid var(--green500);
  border-color: var(--green600);
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--green700);
}

/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
 	.textArea {
    width: 90%;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
  .textArea {
    width: 80%;
    max-width: 500px;
    justify-content: center;
  }
}
