
.ulStyle {
  list-style-type: none;
  margin: 25px 20px 20px 30px;
  padding: 0 40px;
  align-items: left;
}
/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  .ulStyle {
     margin: 25px 0;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
  .ulStyle {
     margin: 25px 0px;
  }
}