/* LIGHT THEME */
:root {
--fontColor: var(--darkBlue);
}
/* DARK THEME */
:root[data-theme="dark"] {
--fontColor: #fff;
}

.listItem {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  align-items: top;
  line-height: 1.5em;
  color: var(--fontColor);
}
.listItem span {
  padding-left: 10px;
  max-width: 75%;
}
.btnClose {
  vertical-align:text-bottom;
  margin-top: 10px;
  margin-left: 10px;
}
.btnEdit {
  margin-left: 10px;
  background-color: var(--green500);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: .75em;
  letter-spacing: .02em;
}
.checkbox {
  width: 40px;
  display: none;
}
.checked{
  width: 40px;
  font-size: 1.5em;
  color: var(--green500);
  vertical-align: bottom;
}
.textEdit {
  font-size: .95em;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  color: var(--black);
}
.textEdit:focus {
  outline: 2px solid var(--green500);
  border-color: var(--green600);
  box-shadow: 0 0 0 2px var(--green700);
}
.unchecked{
  width: 40px;
  font-size: 1.5em;
  color: var(--green500);
  vertical-align: bottom;
}
/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  .listItem span {
     font-size: 1em;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
  .listItem span {
     font-size: .75em;
     line-height: 1.5em;
  }
}