.listItem {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: top;
  line-height: 1.5em;
}
.listItem span {
  padding-left: 10px;
  max-width: 80%;
}
.btnClose {
  vertical-align:text-bottom;
  margin-top: 10px;
  margin-left: 10px;
}
.checkbox {
  display: none;
}
.checked{
  width: 40px;
  font-size: 1.5em;
  color: var(--green500);
  vertical-align: bottom;
}
.unchecked{
  width: 40px;
  font-size: 1.5em;
  color: var(--green500);
  vertical-align: bottom;
}