/* GLOBAL VARIABLES */
:root {
	--black: #2b2c3a;
	--white: rgb(251, 251, 251);
	--transparency: rgba(241, 245, 251, .9);
  --darkBlue: #10465b;
	--green500: #2fb583;
	--green600: #34916f;
	--green700: #2e8263;
	--grey: rgba(250, 250, 250, .5)
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Bungee+Inline&display=swap');

/* ELEMENTS */
body {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  font-family: 'Raleway', sans-serif;
  line-height: 1.35em;
  color: var(--black);
  background-color: var(--white);
}

/* CLASSES (ALPHA SORT)*/
.appContainer {
  background-color: var(--transparency);
  z-index:99;
  padding: 50px 40px;
  border-radius: 50px;
  width: 70vw;
  max-width: 550px;
  min-width: 500px;
}
.btnBack {
  color: #7c7a7a;
  font-size: 2em;
  position: absolute;
  left: 45px;
  top: 40px;
}
.btnCompleted {
  color: var(--darkBlue);
  font-size: 2.5em;
  position: absolute;
  right: 75px;
  top: 55px;
}
.headerCompleted{
 font-family: 'Bungee Inline', cursive;
 color: var(--darkBlue);
 text-align: center;
 font-size:3em;
  padding: 10px 0 0 0;
  margin-bottom: 50px;
}
.wrapper {
  animation: scroll 70s linear infinite;
  background: url("/src/assets/steve-johnson-YS0YJLU_h2k-unsplash.jpg"), var(--white);
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  border-radius: 50px;
  border: 0px;
}
@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: .5em;
  }
  .AppContainer {
    width: 80vw;
    padding: 40px 30px;
  }
}