/* GLOBAL VARIABLES */
:root {
	--black: #2b2c3a;
	--white: rgb(251, 251, 251);
	--transparency9: rgba(241, 245, 251, .9);
  --transparency2: rgba(241, 245, 251, .2);
  --darkBlue: #10465b;
	--green500: #2fb583;
	--green600: #34916f;
	--green700: #2e8263;
	--grey: rgba(250, 250, 250, .5);
  --grey2: #7c7a7a;
  --backgroundColor: var(--white);
  --background: url("/src/assets/steve-johnson-YS0YJLU_h2k-unsplash.jpg"), var(--white);
  --containerColor: var(--transparency9);
  --border: 4px solid hsla(0,0%,100%,.5);
}

/* DARK THEME */
:root[data-theme="dark"] {
  --containerColor: var(--transparency2);
  --background: url("/src/assets/steve-johnson-YS0YJLU_h2k-unsplash_inv.jpg");
  --backgroundColor: var(--black);
  --border: 2px solid hsla(0,0%,100%,.1);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Bungee+Inline&display=swap');

body {
  background-color: var(--backgroundColor);
}

.appBackground {
  animation: scroll 70s linear infinite;
  background: var(--background);
  width: 100%;
  max-width: 700px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: var(--border);
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.35em;
  color: var(--black);
  margin: 50px 0;
}
.appContainer {
  background-color: var(--containerColor);
  border-radius: 50px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 600px;
  min-height: 700px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}
@media (prefers-reduced-motion) {
  .appBackground  {
    animation: scroll 200s linear infinite;
  }
}
/* Desktop viewport */
@media screen and (min-width: 1025px) {
  .appContainer  {
    width: 100%;
    padding: 0 50px;
    margin: 0;  
  }
}
/* Tablet viewport */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  .appBackground {
    max-width: 700px;
    padding: 0;
  }
   .appContainer {
    max-width: 700px;
    margin-top: 0px;
    padding: 0;
  }
}
/* Mobile viewport */
@media screen and (max-width: 520px) {
  .appBackground {
    width: 95%;
  }
  .appContainer {
    width: 100%;
    margin-top: 0px;
  }
}