header {
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: x-large;
  font-weight: 600;
  margin: 0 10px;
}

li:hover {
  background: #000;
  color: #fff;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

button {
  background: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 600;
}

button:hover {
  background: #fff;
  color: #000;
  border: #000 1px solid;
}

label {
  font-size: x-large;
  font-weight: 600;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 600;
  animation: borde 1s infinite;
}

@keyframes borde {
  0% {
    border: #000 2px solid;
  }
  50% {
    border: #fff 1px solid;
  }
  100% {
    border: #000 2px solid;
  }
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.load > img {
  width: 60px;
  height: 60px;
  animation: load 1s infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.links{
  color: #fff;
  text-decoration-skip: none;
}

.links:hover{
  color: #000;
  text-decoration: underline;
}