header{
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

li{
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: x-large;
    font-weight: 600;
    margin: 0 10px;
}
li:hover{
    background: #000;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

button{
    background: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
}
button:hover{
    background: #fff;
    color: #000;
} 

label{
    font-size: x-large;
    font-weight: 600;
}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
}