@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Pacifico&display=swap');

body{
  background: #9b9494;
  margin: 0;
  padding: 0;
}

header {
  background: transparent;
  color: #fff;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: x-large;
  font-family: 'Alkatra', cursive, sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Alkatra', cursive, sans-serif;
  margin: 10px;
  gap: 10px;
}

button {
  display: inline;
  background: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 600;
  box-shadow: 5px 5px #ffffff;
}

button:hover {
  background: #fff;
  color: #000;
  border: #000 1px solid;
  box-shadow: 2px 2px #ffffff;
}

label {
  font-size: x-large;
  font-weight: 600;
  font-size: 2.5rem;
  font-family: 'Delicious Handrawn', cursive, sans-serif;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 600;
  animation: borde 1s infinite;
}

@keyframes borde {
  0% {
    border: #000 2px solid;
  }
  50% {
    border: #fff 1px solid;
  }
  100% {
    border: #000 2px solid;
  }
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.load > img {
  width: 60px;
  height: 60px;
  animation: load 1s infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

