@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fuzzy+Bubbles&display=swap");
/* @import {FontAwesomeIcon} from "@fontawesome/react-fontawesome"; */

* {
  font-family: "Fredericka the Great";
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

body {
  background-color: #8c8c8c;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  border: 5px solid #bfbfbf;
  max-width: 40rem;
  height: 30rem;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: transparent;
  height: 5rem;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 60px;
}
.navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  gap: 60px;
}

a {
  color: #f2f2f2;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 50%;
  padding: 5px 10px;
}
a:hover {
  color: #262626;
  transition: all 0.3s ease;
}

.todoInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h1 {
  font-size: 3rem;
  font-weight: lighter;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1 rem;
  margin-top: 1rem;
}

.label {
  color: #f2f2f2;
  font-size: 1rem;
  margin-right: 1rem;
}
.inputGroupe {
  display: flex;
  border: 1 solid #bdbdbd;
}
.addButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  color: #262626;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #bfbfbf;
  border: 1px solid #bdbdbd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

.addButton:hover {
  background-color: #8c8c8c;
  transition: all 0.3s ease;
}

input {
  display: block;
  width: 100%;
  height: calc(1.5rem + 2px);
  padding: 0.375rem;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Fredericka the Great";
  line-height: 1;
  color: #262626;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputGroupe .addButton {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.inputGroupe input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  color: #262626;
}

.todoListItemContainer {
  display: flex;
  width: 18rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.loading p {
  color: #bfbfbf;
}
.removeButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #262626;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #bfbfbf;
  border: 1px solid #bdbdbd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

.removeButton:hover {
  transform: scale(1.1);
  background-color: #8c8c8c;
  transition: all 0.3s ease;
}

.listItem {
  display: flex;
  list-style: none;
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 5px auto;
  justify-content: space-between;
}
.askGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  color: #262626;
  text-align: center;
}
button.askGoogle {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #595959;
  border: 1px solid #bdbdbd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
  margin-left: 30px;
}
.button.askGoogle:hover {
  background-color: #8c8c8c;
  transition: all 0.3s ease;
}

/* Responsive Design Mobile */
@media screen and (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  form {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1 rem;
    margin-top: 1rem;
  }
  .todoInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .navbar {
    height: 3rem;
  }
  .navbar_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1rem;
    gap: none;
  }

  a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 50%;
  }
  a:hover {
    color: #262626;
    transition: all 0.3s ease;
  }

  h1 {
    font-size: 2rem;
  }
  .listItem {
    font-size: 1.2rem;
  }
}

/* Responsive Design Mobile */
@media screen and (max-width: 330px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    padding: 0 0.5rem;
  }
  .todoInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  input {
    height: calc(1rem + 2px);
    padding: 0.375rem;
    font-size: 0.8rem;
  }
  .navbar {
    height: 3rem;
    max-width: 100%;
  }

  .navbar_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
  a {
    font-size: 0.9rem;
  }

  .todoListItemContainer {
    width: 13rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .label {
    font-size: 0.8rem;
  }
  .listItem {
    font-size: 1rem;
  }
}
